* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}

#left {
    flex-direction: column;
    background-color: red;
    flex: 0.75;
}

#right {
    flex-direction: column;
    background-color: blue;
    flex: 1
}