/* import custom font */
@font-face {
    font-family: "Norse";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/Norse-Bold.otf");
}

/* remove margins & add box-sizing
    for all elements */
* {
    margin: 0;
    box-sizing: border-box;
}



/* main page container with Horizontal display
    via Display: Flex for Left & Right ids */
#page-container {
    display: flex;
    height: 100vh;
}



/* LEFT SECTION */
/* make container Relative so
    element positions can be applied.
    Split display area with Flex */
#left-container {
    position: relative;
    /*background-color: red;*/
    flex: 0.75;
}

/* fill container with image */
#left-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* add banner with Absolute position centered
    & center its children via Display: Flex */
#left-container .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);   /* add color opacity */
    width: 100%;
    height: 15%;
    /* center banner */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* size container for banner icon */
#left-container .banner .icon-container {
    width: 9vh;
}

/* add custom font & sizing to banner text */
#left-container .banner .text {
    color: white;
    font-family: "Norse", 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 9vh;
}

/* position & align attribution text */
#left-container .attribution {
    width: 100%;
    color: white;
    font-family: "Norse", 'Courier New', Courier, monospace;
    text-align: center;
    /* bottom-center text */
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* attribution link default look */
#left-container .attribution a:link {
    color: gold;
    background-color: transparent;
    text-decoration: none;
}

/* attribution link visited look */
#left-container .attribution a:visited {
    color: rebeccapurple;
    background-color: transparent;
    text-decoration: none;
}

/* attribution link hover look */
#left-container .attribution a:hover {
    color: greenyellow;
    background-color: transparent;
    text-decoration: underline;
}

/* attribution link active look */
#left-container .attribution a:active {
    color: pink;
    background-color: transparent;
    text-decoration: underline;
}



/* RIGHT-TOP SECTION */
/* Split display area with Flex */
#right-container {
    display: flex;
    flex-direction: column;
    /*background-color: blue;*/
    flex: 1
}

/* align children to bottom-left */
#right-container .top {
    height: 100%;
    background-color: #f8f8f7;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

/* text font style */
#right-container .top .text-1, 
#right-container .top .text-2 {
    margin-inline: 4%;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* text 1 size & margin */
#right-container .top .text-1 {
    width: 80%;
    margin-block-end: 3%;
}

/* text 2 margin */
#right-container .top .text-2 {
    margin-block-end: 5%;
}



/* RIGHT-MIDDLE SECTION */
/* size middle section */
#right-container .middle {
    height: 100%;
    background-color: lawngreen;
    flex: 0.80;
}

/* add margins to middle text and form elements */
#right-container .middle .text,
#right-container .middle form {
    margin-inline-start: 4%;
    margin-block-start: 2%;
}

/* middle text font style */
#right-container .middle .text {
    font-size: x-large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* make form elements stack as a 2x3 grid */
#right-container .middle form {
    display: grid;
    grid-template-rows: repeat(3, 50%);
    grid-template-columns: repeat(2, 50%);
    row-gap: 25%;
    width: 75%;
    align-items: flex-end;
}

/* make each input container occupy the same space */
#right-container .middle .input-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* label font style */
#right-container .middle label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* length of input bars */
#right-container .middle input {
    width: 80%;
}



/* RIGHT-BOTTOM SECTION */
/* right bottom section of screen */
#right-container .bottom  {
    height: 100%;
    background-color: #f8f8f7;
    flex: 1;
}

/* button & text font & style */
#right-container .bottom button,
#right-container .bottom .text {
    margin-inline-start: 4%;
    margin-block-start: 3%;
    font-size: large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* button attributes */
#right-container .bottom button {
    color: white;
    font-weight: bolder;
    width: 255px;
    padding-block: 15px;
    border-radius: 10px;
    border: none;
    background-color: #596D48;
}

/* main link look */
#right-container .bottom a:link {
    color: #596D48;
    background-color: transparent;
    text-decoration: none;
}

/* link visited look */
#right-container .bottom a:visited {
    color: rebeccapurple;
    background-color: transparent;
    text-decoration: none;
}

/* link hover look */
#right-container .bottom a:hover {
    color:rosybrown;
    background-color: transparent;
    text-decoration: underline;
}

/* link active look */
#right-container .bottom a:active {
    color: crimson;
    background-color: transparent;
    text-decoration: underline;
}