* {
    margin: 0;
    box-sizing: border-box;
}

.page-container {
    display: flex;
    height: 100vh;
}

#left {
    flex-direction: column;
    background-color: red;
    flex: 0.75;
}

#left img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#right {
    flex-direction: column;
    background-color: blue;
    flex: 1
}