/* import custom font */
@font-face {
    font-family: "Norse";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/Norse-Bold.otf");
}

/* remove margins & add box-sizing
    for all elements */
* {
    margin: 0;
    box-sizing: border-box;
}



/* main page container with Horizontal display
    via Display: Flex for Left & Right ids */
#page-container {
    display: flex;
    height: 100vh;
}



/* make container Relative so
    element positions can be applied.
    Split display area with Flex */
#left-container {
    position: relative;
    background-color: red;
    flex: 0.75;
}

/* fill container with image */
#left-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* add banner with Absolute position centered
    & center its children via Display: Flex */
#left-container .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);   /* add color opacity */
    width: 100%;
    height: 15%;
    /* center banner */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* size container for banner icon */
#left-container .banner .icon-container {
    width: 9vh;
}

/* add custom font & sizing to banner text */
#left-container .banner .text {
    color: white;
    font-family: "Norse", 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 9vh;
}

/* position & align attribution text */
#left-container .attribution {
    width: 100%;
    color: white;
    font-family: "Norse", 'Courier New', Courier, monospace;
    text-align: center;
    /* bottom-center text */
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* attribution link default look */
#left-container .attribution a:link {
    color: gold;
    background-color: transparent;
    text-decoration: none;
}

/* attribution link visited look */
#left-container .attribution a:visited {
    color: rebeccapurple;
    background-color: transparent;
    text-decoration: none;
}

/* attribution link hover look */
#left-container .attribution a:hover {
    color: greenyellow;
    background-color: transparent;
    text-decoration: underline;
}

/* attribution link active look */
#left-container .attribution a:active {
    color: pink;
    background-color: transparent;
    text-decoration: underline;
}



/* Split display area with Flex */
#right-container {
    display: flex;
    flex-direction: column;
    background-color: blue;
    flex: 1
}

#right-container .top {
    height: 100%;
    background-color: yellow;
    flex: 1;
}

#right-container .middle {
    height: 100%;
    background-color: aquamarine;
    flex: 0.80;
}

#right-container .bottom  {
    height: 100%;
    background-color: antiquewhite;
    flex: 1;
}